---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Logan Jorgensen"
  description="About Logan Jorgensen - Learn more about my background, interests, and experiences."
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about my background and what drives me."
      />

      <section>
        <h2 class="section-title">What Gets Me Up in the Morning?</h2>
        <div class="content">
          <p>
            My interest in software development started in high school when I took my first programming class. 
            What immediately hooked me was the ability to bring ideas to life—the sheer power of writing code and watching 
            something functional appear on the screen. Knowing that I could create something and have it make others' lives easier, more efficient, or more enjoyable at scale is what has made me so passionate about it.
          </p>
          <p>
            Personally, I view programming as a craft, much like woodworking or pottery, where technical skill meets creativity 
            to shape something meaningful that can serve a purpose. The difference is that software extends infinitely, since it's distributed digitally,
            and can be shared with anyone, anywhere, at any time. This opens up a world of possibilities for solving problems and enabling 
            solutions that scale globally and impact people in ways few other crafts can. That tie-in with 
            technology made it something I felt absolute passionate about from day one.
          </p>
          <p>
            Since then, I’ve continued to develop my skills and push myself, working on side projects, 
            learning new technologies, and participating in hackathons to keep growing. I enjoy 
            exploring the intersections of software, business, and finance, and other disciplines always looking for ways to 
            expand my understanding and impact. I value continuous learning and improvement, and I’m always looking for new challenges to tackle or new things to learn.
          </p>
          <p>
            I earned my Bachelor's degree in Computer Science at Iowa State University, where I was involved in 
            multiple organizations. I held leadership roles in the Iowa State Investment Group, 
            where I worked on equity research and portfolio management. I was also part of the Computer Science & Software Engineering Club, 
            the Wall Street Club, and worked as a Computer Science Peer Mentor.
          </p>
          <p>
            Outside of coding, I spend time weightlifting, reading, hiking, and on the rare occasion playing strategy games (Supreme Commander is a personal favorite). 
            The thing I value most in life is always looking for ways to improve—whether that’s through fitness, learning, or building something new.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Fun Facts</h2>
        <div class="content">
          <p>Here are a few fun facts about me:</p>
          <ul class="fun-facts">
            <li>
              I once completed the 4x4x48 fitness challenge, where you run 4 miles every 4 hours for 48 hours (48 miles total).
            </li>
            <li>
              I took a kendo class in Kyoto, Japan, complete with a real sword training session.
            </li>
            <li>
              I grew up in Gilbert, Iowa, a small town with a population of around 1,200 people.
            </li>
            <li>
              I’ve attended three Berkshire Hathaway Annual Shareholder Meetings in Omaha, Nebraska.
            </li>
          </ul>
        </div>
      </section>

      <section>
        <h2 class="section-title">Books I've Read</h2>
        <div class="content">
          <p>
            I enjoy reading and learning about a variety of topics. Below is a selection of some of my favorite books I’ve read, covering finance, strategy, psychology, and more.
          </p>
          <div class="book-grid">
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/81AuVq270jL._UF1000,1000_QL80_.jpg"
                alt="Frankenstein"
              />
              <h3>Frankenstein</h3>
              <p>Mary Shelley</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/51GtTMTpNmL.jpg"
                alt="Against the Gods: The Remarkable Story of Risk"
              />
              <h3>Against the Gods</h3>
              <p>Peter L. Bernstein</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/81cld9laTXL.jpg"
                alt="The War on Normal People"
              />
              <h3>The War on Normal People</h3>
              <p>Andrew Yang</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/61nTspM+BYL._SL1033_.jpg"
                alt="Man's Search for Meaning"
              />
              <h3>Man's Search for Meaning</h3>
              <p>Viktor E. Frankl</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/81HntONlwgL.jpg"
                alt="Flowers for Algernon"
              />
              <h3>Flowers for Algernon</h3>
              <p>Daniel Keyes</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/81y4IBu7gzL._SL1500_.jpg"
                alt="The Millionaire Next Door"
              />
              <h3>The Millionaire Next Door</h3>
              <p>Thomas J. Stanley and William D. Danko</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/61urry+xagL._AC_UF1000,1000_QL80_.jpg"
                alt="Siddhartha"
              />
              <h3>Siddhartha</h3>
              <p>Hermann Hesse</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/71xlR6yDvkL._SL1500_.jpg"
                alt="The Richest Man in Babylon"
              />
              <h3>The Richest Man in Babylon</h3>
              <p>George S. Clason</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/51OPRFQfdmL.jpg"
                alt="Common Stocks and Uncommon Profits"
              />
              <h3>Common Stocks and Uncommon Profits</h3>
              <p>Philip A. Fisher</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/61jm9GIvL7L._SL1360_.jpg"
                alt="The Acquirer's Multiple"
              />
              <h3>The Acquirer's Multiple</h3>
              <p>Tobias E. Carlisle</p>
            </div>
            <div class="book-card">
              <img
                src="https://images.booksense.com/images/230/953/9781953953230.jpg"
                alt="Poor Charlie's Almanack"
              />
              <h3>Poor Charlie's Almanack</h3>
              <p>Charles T. Munger</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/71iHghF0oxL._SL1500_.jpg"
                alt="Warren Buffett and the Interpretation of Financial Statements"
              />
              <h3>Warren Buffett and the Interpretation of Financial Statements</h3>
              <p>Mary Buffett and David Clark</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/71pvFCvMM2L._SL1360_.jpg"
                alt="One Up On Wall Street"
              />
              <h3>One Up On Wall Street</h3>
              <p>Peter Lynch</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/71pL0Jk9+nL._SL1500_.jpg"
                alt="How Life Imitates Chess"
              />
              <h3>How Life Imitates Chess</h3>
              <p>Garry Kasparov</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/71Uh5iMqrqL._SL1500_.jpg"
                alt="The Essays of Warren Buffett"
              />
              <h3>The Essays of Warren Buffett</h3>
              <p>Lawrence A. Cunningham and Warren E. Buffett</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/71Xygne8+qL._SL1500_.jpg"
                alt="Zero to One"
              />
              <h3>Zero to One</h3>
              <p>Peter Thiel and Blake Masters</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/61pDNU9qEGL._SL1360_.jpg"
                alt="Can't Hurt Me"
              />
              <h3>Can't Hurt Me</h3>
              <p>David Goggins</p>
            </div>
            <div class="book-card">
              <img
                src="https://m.media-amazon.com/images/I/71vK0WVQ4rL.jpg"
                alt="How to Win Friends and Influence People"
              />
              <h3>How to Win Friends and Influence People</h3>
              <p>Dale Carnegie</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .section-title {
    font-size: var(--text-xl);
    color: var(--gray-0);
    margin-bottom: 2rem;
  }

  .content {
    max-width: 85ch;
    margin-inline: auto;
  }

  .content p {
    color: var(--gray-300);
    margin-bottom: 1.5rem;
  }

  .fun-facts {
    list-style-type: disc;
    margin-left: 1.5rem;
    color: var(--gray-300);
  }

  .fun-facts li {
    margin-bottom: 1rem;
    line-height: 1.4;
  }

  .book-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-top: 2rem;
  }

  .book-card {
    background: var(--gradient-subtle);
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
  }

  .book-card:hover {
    transform: translateY(-2px);
    background: var(--gradient-inverse);
  }

  .book-card img {
    width: 120px;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: var(--shadow-md);
  }

  .book-card h3 {
    font-size: var(--text-sm);
    color: var(--gray-200);
    margin-bottom: 0.5rem;
    line-height: 1.3;
  }

  .book-card p {
    color: var(--gray-400);
    font-size: var(--text-sm);
    margin: 0;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }

    .section-title {
      grid-column-start: 2;
    }

    .content {
      grid-column: 2 / 3;
    }

    .book-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
</style>
