---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Logan Jorgensen"
  description="About Logan Jorgensen Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a student and developer, I am passionate about finding ways to
            leverage technology to develop solutions to real-world problems. I
            am currently pursuing a Bachelor's degree in Computer Science at
            Iowa State University.
          </p>
          <p>
            At Iowa State, in addition to being a student, I also participate in
            a number of extracurricular activities. I hold the role of
            Technology Sector Leader within the Iowa State Investment Group, a
            student ran club that manages a long-only equity portfolio. I am
            also a member of the Computer Science and Software Engineering (CSE)
            Club and the Wall Street Club.
          </p>
          <p>
            In my free time, I enjoy weighlifting, reading, hiking, playing
            real-time strategy and sandbox video games, and working on personal
            programming projects.
          </p>
          <p>
            I am looking for opportunities to apply my skills, drive and
            knowledge to help solve problems and create value.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Books I've Read</h2>
        <!-- List of books that I've read. Each book will be contained wtihin a card that that has the book cover image and the book title and author -->
        <div class="content">
          <p>
            I enjoy reading and learning about a variety of topics. Below is a
            list of books that I have read in the past, ordered by how recently I finished reading them.
          </p>
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
            <div
              class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
            >
              <img
                src="https://m.media-amazon.com/images/I/51GtTMTpNmL.jpg"
                alt="Atomic Habits by James Clear"
                class="w-32 rounded-lg"
                width="40%"
              />
              <h3
                class="text-xl font-semibold text-gray-100"
                style="margin-top: 1rem;"
              >
                Against the Gods: The Remarkable Story of Risk
              </h3>
              <p class="text-gray-300" style="margin-top: 1rem;">
                Peter L. Bernstein
              </p>
            </div>
            <div
              class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
            >
              <img
                src="https://m.media-amazon.com/images/I/81y4IBu7gzL._SL1500_.jpg"
                alt="Against the Gods: The Remarkable Story of Risk by Peter L. Bernstein"
                class="w-32 rounded-lg"
                width="40%"
              />
              <h3
                class="text-xl font-semibold text-gray-100"
                style="margin-top: 1rem;"
              >
                The Millionaire Next Door
              </h3>
              <p class="text-gray-300" style="margin-top: 1rem;">
                Thomas J. Stanley and William D. Danko
              </p>
            </div>
            <div
              class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
            >
              <img
                src="https://m.media-amazon.com/images/I/71xlR6yDvkL._SL1500_.jpg"
                alt="The Richest Man in Babylon by George S. Clason"
                class="w-32 rounded-lg"
                width="40%"
              />
              <h3
                class="text-xl font-semibold text-gray-100"
                style="margin-top: 1rem;"
              >
                The Richest Man in Babylon
              </h3>
              <p class="text-gray-300" style="margin-top: 1rem;">
                George S. Clason
              </p>
              <div
                class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
              >
                <img
                  src="https://m.media-amazon.com/images/I/51OPRFQfdmL.jpg"
                  alt="Common Stocks and Uncommon Profits by Philip A. Fisher"
                  class="w-32 rounded-lg"
                  width="40%"
                />
                <h3
                  class="text-xl font-semibold text-gray-100"
                  style="margin-top: 1rem;"
                >
                  Common Stocks and Uncommon Profits
                </h3>
                <p class="text-gray-300" style="margin-top: 1rem;">
                  Philip A. Fisher
                </p>
                <div
                  class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
                >
                  <img
                    src="https://m.media-amazon.com/images/I/61jm9GIvL7L._SL1360_.jpg"
                    alt="The Acquirer's Multiple by Tobias E. Carlisle"
                    class="w-32 rounded-lg"
                    width="40%"
                  />
                  <h3
                    class="text-xl font-semibold text-gray-100"
                    style="margin-top: 1rem;"
                  >
                    The Acquirer's Multiple
                  </h3>
                  <p class="text-gray-300" style="margin-top: 1rem;">
                    Tobias E. Carlisle
                  </p>
                </div>
                <div
                  class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
                >
                  <img
                    src="https://m.media-amazon.com/images/I/71iHghF0oxL._SL1500_.jpg"
                    alt="Atomic Habits by James Clear"
                    class="w-32 rounded-lg"
                    width="40%"
                  />
                  <h3
                    class="text-xl font-semibold text-gray-100"
                    style="margin-top: 1rem;"
                  >
                    Warren Buffett and the Interpretation of Financial
                    Statements
                  </h3>
                  <p class="text-gray-300" style="margin-top: 1rem;">
                    Mary Buffett and David Clark
                  </p>
                </div>
                <div
                  class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
                >
                  <img
                    src="https://m.media-amazon.com/images/I/71pvFCvMM2L._SL1360_.jpg"
                    alt="One Up On Wall Street by Peter Lynch"
                    class="w-32 rounded-lg"
                    width="40%"
                  />
                  <h3
                    class="text-xl font-semibold text-gray-100"
                    style="margin-top: 1rem;"
                  >
                    One Up On Wall Street
                  </h3>
                  <p class="text-gray-300" style="margin-top: 1rem;">
                    Peter Lynch
                  </p>
                </div>
                <div
                  class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
                >
                  <img
                    src="https://m.media-amazon.com/images/I/71pL0Jk9+nL._SL1500_.jpg"
                    alt="How Life Imitates Chess by Garry Kasparov"
                    class="w-32 rounded-lg"
                    width="40%"
                  />
                  <h3
                    class="text-xl font-semibold text-gray-100"
                    style="margin-top: 1rem;"
                  >
                    How Life Imitates Chess
                  </h3>
                  <p class="text-gray-300" style="margin-top: 1rem;">
                    Garry Kasparov
                  </p>
                </div>
                <div
                  class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
                >
                  <img
                    src="https://m.media-amazon.com/images/I/71Uh5iMqrqL._SL1500_.jpg"
                    alt="The Essays of Warren Buffett by Lawrence A. Cunningham and Warren E. Buffett"
                    class="w-32 rounded-lg"
                    width="40%"
                  />
                  <h3
                    class="text-xl font-semibold text-gray-100"
                    style="margin-top: 1rem;"
                  >
                    The Essays of Warren Buffett
                  </h3>
                  <p class="text-gray-300" style="margin-top: 1rem;">
                    Lawrence A. Cunningham and Warren E. Buffett
                  </p>
                </div>
                <div
                  class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
                >
                  <img
                    src="https://m.media-amazon.com/images/I/71Xygne8+qL._SL1500_.jpg"
                    alt="Zero to One by Peter Thiel and Blake Masters"
                    class="w-32 rounded-lg"
                    width="40%"
                  />
                  <h3
                    class="text-xl font-semibold text-gray-100"
                    style="margin-top: 1rem;"
                  >
                    Zero to One
                  </h3>
                  <p class="text-gray-300" style="margin-top: 1rem;">
                    Peter Thiel and Blake Masters
                  </p>
                </div>
                <div
                  class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
                >
                  <img
                    src="https://m.media-amazon.com/images/I/61nTspM+BYL._SL1033_.jpg"
                    alt="Man's Search for Meaning by Viktor E. Frankl"
                    class="w-32 rounded-lg"
                    width="40%"
                  />
                  <h3
                    class="text-xl font-semibold text-gray-100"
                    style="margin-top: 1rem;"
                  >
                    Man's Search for Meaning
                  </h3>
                  <p class="text-gray-300" style="margin-top: 1rem;">
                    Viktor E. Frankl
                  </p>
                </div>
                <div
                  class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800"
                >
                  <img
                    src="https://m.media-amazon.com/images/I/61pDNU9qEGL._SL1360_.jpg"
                    alt="Can't Hurt Me by David Goggins"
                    class="w-32"
                    width="40%"
                  />
                  <h3
                    class="text-xl font-semibold text-gray-100"
                    style="margin-top: 1rem;"
                  >
                    Can't Hurt Me
                  </h3>
                  <p class="text-gray-300" style="margin-top: 1rem;">
                    David Goggins
                  </p>
                </div>
                <div
                  class="flex flex-col items-center justify-center p-4 space-y-4 bg-gray-800 rounded-lg"
                >
                  <img
                    src="https://m.media-amazon.com/images/I/41P3AE+9GeL.jpg"
                    alt="How to Win Friends and Influence People by Dale Carnegie"
                    class="w-32 rounded-lg"
                    width="40%"
                  />
                  <h3
                    class="text-xl font-semibold text-gray-100"
                    style="margin-top: 1rem;"
                  >
                    How to Win Friends and Influence People
                  </h3>
                  <p class="text-gray-300" style="margin-top: 1rem;">
                    Dale Carnegie
                  </p>

                  <ContactCTA />
                </div>
              </div>

              <style>
                .about {
                  display: flex;
                  flex-direction: column;
                  gap: 3.5rem;
                }

                p {
                  margin-bottom: 1.5rem;
                }

                img {
                  margin-top: 1.5rem;

                  box-shadow: var(--shadow-md);
                }

                section {
                  display: flex;
                  flex-direction: column;
                  gap: 0.5rem;
                  color: var(--gray-200);
                }

                .section-title {
                  grid-column-start: 1;
                  font-size: var(--text-xl);
                  color: var(--gray-0);
                }

                .content {
                  grid-column: 2 / 4;
                }

                .content :global(a) {
                  text-decoration: 1px solid underline transparent;
                  text-underline-offset: 0.25em;
                  transition: text-decoration-color var(--theme-transition);
                }

                .content :global(a:hover),
                .content :global(a:focus) {
                  text-decoration-color: currentColor;
                }

                @media (min-width: 50em) {
                  .about {
                    display: grid;
                    grid-template-columns: 1fr 60% 1fr;
                  }

                  .about > :global(:first-child) {
                    grid-column-start: 2;
                  }

                  section {
                    display: contents;
                    font-size: var(--text-lg);
                  }
                }
              </style>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</BaseLayout>
