---
import BaseLayout from "../layouts/BaseLayout.astro";
import Grid from "../components/Grid.astro";
import Pill from "../components/Pill.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Projects | Logan Jorgensen"
  description="Learn about Logan Jorgensen's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8 justify-content-center">
      <Hero
        title="Work Experience"
        tagline="See my previous work experience and my involvement with other organizations"
        align="start"
      />
      <!-- List of previous employers with name of role and associated dates. They should each have a picture for a logo and centered on the page -->
      <div class="stack gap-8 justify-content-center">
        <div class="stack gap-4 justify-content-center">
          <div class="card gap-2 justify-content-center">
            <h3>Capital One</h3>
            <p class="job-detail">Software Engineer Intern</p>
            <p class="job-detail">June 2023 - Present</p>
            <p class="job-detail">New York, NY</p>
            <span class="card__tag">Python · AWS · Jenkins · Locust</span>
          </div>
          <!-- Horizontal Line to Seperate Job -->
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>Setwise Technology</h3>
            <p class="job-detail">Software Engineer Intern</p>
            <p class="job-detail">May 2023 - October 2022</p>
            <p class="job-detail">Ames, IA</p>
            <span class="card__tag">PHP · Laravel · Vue.js</span>
          </div>
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>Capital One</h3>
            <p class="job-detail" style="font-weight: bold;">
              Software Engineer Intern
            </p>
            <p class="job-detail">June 2022 - August 2022</p>
            <p class="job-detail">McLean, VA</p>
            <span class="card__tag"
              >Python · Go · Git · PostgreSQL · FastAPI · Lit</span
            >
          </div>
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>Iowa State University</h3>
            <p class="job-detail" style="font-weight: bold;">
              IT Support Specialist
            </p>
            <p class="job-detail">November 2021 - June 2022</p>
            <p class="job-detail">Ames, IA</p>
            <span class="card__tag"
              >Troubleshooting · Technical Communication · Customer Service</span
            >
          </div>
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>DoorDash</h3>
            <p class="job-detail" style="font-weight: bold;">Delivery Driver</p>
            <p class="job-detail">February 2021 - November 2021</p>
            <p class="job-detail">Ames, IA</p>
            <span class="card__tag"
              >Problem Solving · Time Management · Customer Service
            </span>
          </div>
          <hr
            class="line"
            style="margin-top: 1rem; margin-top: 1rem; margin-bottom: 1rem;"
          />
          <!-- Render Non-Software Projects, Hard Coded. Do not use the component types (PortfolioPreview). Just use HTML and CSS. -->
          <!-- Each Non-Software Project will be rendered in the grid -->
          <Hero title="Involvement" align="start" />
          <Grid>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://media.licdn.com/dms/image/D5622AQEFwwa82hidrw/feedshare-shrink_2048_1536/0/1682280226200?e=1692230400&v=beta&t=MSZPZFvn8oJgG2vH1fGixljseFAQqF3wDoGW6Th8ugQ"
                    alt="Other Project 1"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Iowa State Investment Group
                  </h3>
                  <!-- Similar to tag styling in the div below -->
                  <div
                    class="card__tags"
                    style="margin-top: 1rem; margin-bottom: 1rem;"
                  >
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      Technology Sector Leader, Previous Technology Sector
                      Analyst
                    </p>
                    <p class="card__description">
                      <ul>
                        <li>
                          Coordinated team of analysts to cover technology
                          companies with total AUM of over $40,000 across three
                          consecutive semesters
                        </li>
                        <li>
                          Conducted financial analysis, researched and
                          presentations regarding technology companies including
                          Sony, Applied Materials, Intel, Microsoft, Qualcomm,
                          and Verizon, as well as macroeconomic trends in the
                          technology sector
                        </li>
                      </ul>
                    </p>
                  </div>
                  <!-- Button that links to group website -->
                  <div style="text-align: center">
                    <button class="card__button">
                      <a
                        class="learn__more"
                        href="https://www.isuig.com/"
                        target="_blank"
                        rel="noopener noreferrer">Learn More</a
                      >
                    </button>
                  </div>
                </div>
                <li>
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://developers.google.com/community/gdsc/images/gdsc-social-share.png"
                        alt="Other Project 2"
                      />
                    </div>
                    <div class="card__content">
                      <h3
                        class="card__title"
                        style="margin-top: 2rem; margin-bottom: 1rem;"
                      >
                        Google Developer Student Clubs
                      </h3>
                      <div class="card__tags">
                        <p
                          class="job-detail"
                          style="font-weight: bold; margin-bottom: 1rem;"
                        >
                          Member
                        </p>
                        <p class="card__description">
                          This is a description of the project.
                        </p>
                      </div>
                    </div>
                    <!-- Button that links to group website -->
                    <div style="text-align: center">
                      <button class="card__button">
                        <a
                          class="learn__more"
                          href="https://www.isuig.com/"
                          target="_blank"
                          rel="noopener noreferrer">Learn More</a
                        >
                      </button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://www.stuorg.iastate.edu/uploads/org-site/ckuploads/2120/Logo_WSC_ISU_Red%20%286%29.png"
                        alt="Other Project 2"
                      />
                    </div>
                    <div class="card__content">
                      <h3
                        class="card__title"
                        style="margin-top: 2rem; margin-bottom: 1rem;"
                      >
                        Iowa State Wall Street Club
                      </h3>
                      <div class="card__tags">
                        <p
                          class="job-detail"
                          style="font-weight: bold; margin-bottom: 1rem;"
                        >
                          Member
                        </p>
                        <p class="card__description">
                          This is a description of the project.
                        </p>
                      </div>
                    </div>
                    <!-- Button that links to group website -->
                    <div style="text-align: center">
                      <button class="card__button">
                        <a
                          class="learn__more"
                          href="https://www.isuig.com/"
                          target="_blank"
                          rel="noopener noreferrer">Learn More</a
                        >
                      </button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://cse.cs.iastate.edu/files/styles/banner/public/2021-02/CSE_Club.jpg?itok=KZTnhjK8"
                        alt="Other Project 2"
                      />
                    </div>
                    <div class="card__content">
                      <h3
                        class="card__title"
                        style="margin-top: 2rem; margin-bottom: 1rem;"
                      >
                        Iowa State CSE Club
                      </h3>
                      <div class="card__tags">
                        <p
                          class="job-detail"
                          style="font-weight: bold; margin-bottom: 1rem;"
                        >
                          Member
                        </p>
                        <p class="card__description">
                          This is a description of the project.
                        </p>
                      </div>
                    </div>
                    <!-- Button that links to group website -->
                    <div style="text-align: center">
                      <button class="card__button">
                        <a
                          class="learn__more"
                          href="https://www.isuig.com/"
                          target="_blank"
                          rel="noopener noreferrer">Learn More</a
                        >
                      </button>
                    </div>
                  </div>
                </li>
              </div>
            </li>
          </Grid>
          <Hero title="Competitions" align="start" />
          <Grid variant="offset">
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://source.colostate.edu/wp-content/uploads/2017/04/Frank-Smith.jpg"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Rocky Mountain Investment Challenge
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      3rd Place
                    </p>
                    <p class="card__description">
                      This is a description of the project.
                    </p>
                  </div>
                </div>
                <!-- Button that links to group website -->
                <div style="text-align: center">
                  <button class="card__button">
                    <a
                      class="learn__more"
                      href="https://www.isuig.com/"
                      target="_blank"
                      rel="noopener noreferrer">Learn More</a
                    >
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="/assets/projects/non-software/prosperity.jpg"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    IMC Trading Trading Competition
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      Participant
                    </p>
                    <p class="card__description">
                      This is a description of the project.
                    </p>
                  </div>
                </div>
                <!-- Button that links to group website -->
                <div style="text-align: center">
                  <button class="card__button">
                    <a
                      class="learn__more"
                      href="https://www.isuig.com/"
                      target="_blank"
                      rel="noopener noreferrer">Learn More</a
                    >
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://higherlogicdownload.s3.amazonaws.com/CFAI/e2a1529c-2ed1-405a-8785-3ebb089a06e1/UploadedImages/Team_2.jpg"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    CFA Research Challenge (Iowa)
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      1st Place
                    </p>
                    <p class="card__description">
                      This is a description of the project.
                    </p>
                  </div>
                </div>
                <!-- Button that links to group website -->
                <div style="text-align: center">
                  <button class="card__button">
                    <a
                      class="learn__more"
                      href="https://www.isuig.com/"
                      target="_blank"
                      rel="noopener noreferrer">Learn More</a
                    >
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://logos-world.net/wp-content/uploads/2022/01/Iowa-State-University-Symbol.png"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Iowa State University Hackathon
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      2nd Place
                    </p>
                    <p class="card__description">
                      This is a description of the project.
                    </p>
                  </div>
                </div>
                <!-- Button that links to group website -->
                <div style="text-align: center">
                  <button class="card__button">
                    <a
                      class="learn__more"
                      href="https://www.isuig.com/"
                      target="_blank"
                      rel="noopener noreferrer">Learn More</a
                    >
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://logos-world.net/wp-content/uploads/2022/01/Iowa-State-University-Symbol.png"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Iowa State University CSE Club Programmning Contest
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      3rd Place
                    </p>
                    <p class="card__description">
                      This is a description of the project.
                    </p>
                  </div>
                </div>
                <!-- Button that links to group website -->
                <div style="text-align: center">
                  <button class="card__button">
                    <a
                      style="color: white; text-decoration: none;"
                      href="https://www.isuig.com/"
                      target="_blank"
                      rel="noopener noreferrer">Learn More</a
                    >
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://content.cdntwrk.com/files/aHViPTExOTYyMCZjbWQ9aXRlbWVkaXRvcmltYWdlJmZpbGVuYW1lPWl0ZW1lZGl0b3JpbWFnZV81ZmMxNDkxNmU3YjA1LnBuZyZ2ZXJzaW9uPTAwMDAmc2lnPTBmZTM4MGIxMGVjNTEwNzNmOGU5ZTE4YTVmNWQyNDI2"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Capital One SWE Summit Hackathon
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      2nd Place
                    </p>
                    <p class="card__description">
                      This is a description of the project.
                    </p>
                  </div>
                </div>
                <!-- Button that links to group website -->
                <div style="text-align: center">
                  <button class="card__button">
                    <a
                      class="learn__more"
                      href="https://www.isuig.com/"
                      target="_blank"
                      rel="noopener noreferrer">Learn More</a
                    >
                  </button>
                </div>
              </div>
            </li>
          </Grid>
          <ContactCTA />

          <style>
            /* Logo styling for each company in a card */
            .logo {
              width: 25%;
              height: 100%;
              object-fit: contain;
              border-radius: 0.25rem;
            }

            .job-detail {
              margin-bottom: 1rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
            }

            /* Keep same logo height but stretch the image slightly horizontally. It should occupy the same space overall, but the image should be stretched. */
            .logo--stretch {
              width: 20rem;
              height: 5rem;
              object-fit: stretch;
            }

            .line {
              width: 100%;
              height: 1px;
              background-color: var(--color-gray-300);
            }

            /* Style for card__tag that makes it like a post tag or button type shape */
            .card__tag {
              display: inline-block;
              border-radius: 0.25rem;
              background-color: var(--color-primary);
              color: var(--color-white);
              font-size: 0.75rem;
              font-weight: 600;
              text-transform: uppercase;
            }

            /* Style for card, card__image, and card__content */
            /* .card {
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          overflow: hidden;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        } */

            /* card but with padding for formatting */
            .card {
              display: flex;
              flex-direction: column;
              border-radius: 0.5rem;
              overflow: hidden;
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
              padding: 1rem;
            }

            .card__image {
              position: relative;
              padding-top: 56.25%;
              overflow: hidden;
              border-radius: 0.5rem;
            }

            .card__image img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .card__button {
              display: inline-block;
              margin-top: 1rem;
              padding: 0.5rem 1rem;
              border-radius: 0.25rem;
              background-color: var(--color-primary);
              color: var(--color-white);
              font-size: 0.75rem;
              font-weight: 600;
              text-decoration: none;
            }

            .card__title {
              margin-top: 1rem;
              margin-bottom: 2rem;
            }

            .learn__more {
              color: var(--color-primary);
              text-decoration: none;
            }
          </style>
        </div>
      </div>
    </main>
  </div>
</BaseLayout>
