---
import BaseLayout from "../layouts/BaseLayout.astro";
import Grid from "../components/Grid.astro";
import Pill from "../components/Pill.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Experience | Logan Jorgensen"
  description="Learn about Logan Jorgensen's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8 justify-content-center">
      <Hero
        title="Work Experience"
        tagline="See where I've worked and the path I've taken to get to where I am today."
        align="start"
      />
      <!-- List of previous employers with name of role and associated dates. They should each have a picture for a logo and centered on the page -->
      <div class="stack gap-8 justify-content-center">
        <div class="stack gap-4 justify-content-center">
          <div class="card gap-2 justify-content-center">
            <h3>Setwise Technology</h3>
            <p class="job-detail">Software Engineer Intern</p>
            <p class="job-detail">September 2023 - Present</p>
            <p class="job-detail">Ames, IA</p>
            <span class="card__tag">PHP · Laravel · Vue.js</span>
          </div>
          <!-- Horizontal Line to Seperate Job -->
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>Iowa State University</h3>
            <p class="job-detail">Peer Mentor (Computer Science)</p>
            <p class="job-detail">August 2023 - Present</p>
            <p class="job-detail">Ames, IA</p>
            <span class="card__tag">Git · Mentoring · Teaching</span>
          </div>
          <!-- Horizontal Line to Seperate Job -->
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>Capital One</h3>
            <p class="job-detail">Software Engineer Intern</p>
            <p class="job-detail">June 2023 - August 2023</p>
            <p class="job-detail">New York, NY</p>
            <span class="card__tag">Python · AWS · Jenkins · Locust</span>
          </div>
          <!-- Horizontal Line to Seperate Job -->
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>Setwise Technology</h3>
            <p class="job-detail">Software Engineer Intern</p>
            <p class="job-detail">May 2023 - October 2022</p>
            <p class="job-detail">Ames, IA</p>
            <span class="card__tag">PHP · Laravel · Vue.js</span>
          </div>
          <!-- Horizontal Line to Seperate Job -->
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>Capital One</h3>
            <p class="job-detail" style="font-weight: bold;">
              Software Engineer Intern
            </p>
            <p class="job-detail">June 2022 - August 2022</p>
            <p class="job-detail">McLean, VA</p>
            <span class="card__tag"
              >Python · Go · Git · PostgreSQL · FastAPI · Lit</span
            >
          </div>
          <!-- Horizontal Line to Seperate Job -->
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>Iowa State University</h3>
            <p class="job-detail" style="font-weight: bold;">
              IT Support Specialist
            </p>
            <p class="job-detail">November 2021 - June 2022</p>
            <p class="job-detail">Ames, IA</p>
            <span class="card__tag"
              >Troubleshooting · Technical Communication · Customer Service</span
            >
          </div>
          <!-- Horizontal Line to Seperate Job -->
          <hr class="line" />
          <div class="card gap-2 justify-content-center">
            <h3>DoorDash</h3>
            <p class="job-detail" style="font-weight: bold;">Delivery Driver</p>
            <p class="job-detail">February 2021 - November 2021</p>
            <p class="job-detail">Ames, IA</p>
            <span class="card__tag"
              >Problem Solving · Time Management · Customer Service
            </span>
          </div>
          <hr
            class="line"
            style="margin-top: 1rem; margin-top: 1rem; margin-bottom: 1rem;"
          />
          <!-- Render Non-Software Projects, Hard Coded. Do not use the component types (PortfolioPreview). Just use HTML and CSS. -->
          <!-- Each Non-Software Project will be rendered in the grid -->
          <Hero title="Involvement" align="start" />
          <Grid>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://media.licdn.com/dms/image/D5622AQHjBxKqP2U3xw/feedshare-shrink_800/0/1681910003784?e=1698278400&v=beta&t=IJ1TUsa62F_gCRJLVAVaYjqCCs3bCSsRs1R9JLst4Rs"
                    alt="Other Project 1"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Iowa State Investment Group
                  </h3>
                  <!-- Similar to tag styling in the div below -->
                  <div
                    class="card__tags"
                    style="margin-top: 1rem; margin-bottom: 1rem;"
                  >
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      Technology & Financial Sector Leader, Previous Technology
                      Sector Analyst
                    </p>
                    <p class="card__description">
                      <ul>
                        <li>
                          Coordinated team of analysts to cover technology
                          companies with total AUM of over $40,000 across three
                          consecutive semesters
                        </li>
                        <li>
                          Conducted financial analysis, researched and
                          presentations regarding technology companies including
                          Sony, Applied Materials, Intel, Microsoft, Qualcomm,
                          and Verizon, as well as macroeconomic trends in the
                          technology sector
                        </li>
                      </ul>
                    </p>
                  </div>
                  <!-- Button that links to group website -->
                  <div style="text-align: center">
                    <button class="card__button">
                      <a
                        class="learn__more"
                        href="https://www.stuorg.iastate.edu/isuinvestmentgroup"
                        target="_blank"
                        rel="noopener noreferrer">Learn More</a
                      >
                    </button>
                  </div>
                </div>
                <li>
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://developers.google.com/community/gdsc/images/gdsc-social-share.png"
                        alt="Other Project 2"
                      />
                    </div>
                    <div class="card__content">
                      <h3
                        class="card__title"
                        style="margin-top: 2rem; margin-bottom: 1rem;"
                      >
                        Google Developer Student Clubs
                      </h3>
                      <div class="card__tags">
                        <p
                          class="job-detail"
                          style="font-weight: bold; margin-bottom: 1rem;"
                        >
                          Member
                        </p>
                        <p class="card__description">
                          <ul>
                            <li>
                              Actively engaged in recruiting new members and
                              expanding the Google Developer Student Clubs to
                              foster a vibrant community of technology
                              enthusiasts.
                            </li>
                            <li>
                              Planning to contribute to activities such as
                              organizing workshops and delivering presentations
                              to enhance students' knowledge and skills in the
                              field of technology and programming
                            </li>
                          </ul>
                        </p>
                      </div>
                    </div>
                    <!-- Button that links to group website -->
                    <div style="text-align: center">
                      <button class="card__button">
                        <a
                          class="learn__more"
                          href="https://www.isuig.com/"
                          target="_blank"
                          rel="noopener noreferrer">Learn More</a
                        >
                      </button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://www.stuorg.iastate.edu/uploads/org-site/ckuploads/2120/Logo_WSC_ISU_Red%20%286%29.png"
                        alt="Other Project 2"
                      />
                    </div>
                    <div class="card__content">
                      <h3
                        class="card__title"
                        style="margin-top: 2rem; margin-bottom: 1rem;"
                      >
                        Iowa State Wall Street Club
                      </h3>
                      <div class="card__tags">
                        <p
                          class="job-detail"
                          style="font-weight: bold; margin-bottom: 1rem;"
                        >
                          Member
                        </p>
                        <p class="card__description">
                          <ul>
                            <li>
                              Selected for membership Wall Street club as one
                              few selected freshmen, dedicated to fostering
                              knowledge and interest in high finance roles like
                              investment banking, private equity, and adjacent
                              fields.
                            </li>
                            <li>
                              Actively engaged in educational activities and
                              discussions within the club, aimed at developing
                              skills and understanding of the intricacies of the
                              finance industry.
                            </li>
                          </ul>
                        </p>
                      </div>
                    </div>
                    <!-- Button that links to group website -->
                    <div style="text-align: center">
                      <button class="card__button">
                        <a
                          class="learn__more"
                          href="https://www.stuorg.iastate.edu/2813"
                          target="_blank"
                          rel="noopener noreferrer">Learn More</a
                        >
                      </button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://cse.cs.iastate.edu/files/styles/banner/public/2021-02/CSE_Club.jpg?itok=KZTnhjK8"
                        alt="Other Project 2"
                      />
                    </div>
                    <div class="card__content">
                      <h3
                        class="card__title"
                        style="margin-top: 2rem; margin-bottom: 1rem;"
                      >
                        Iowa State CSE Club
                      </h3>
                      <div class="card__tags">
                        <p
                          class="job-detail"
                          style="font-weight: bold; margin-bottom: 1rem;"
                        >
                          Member
                        </p>
                        <p class="card__description">
                          <ul>
                            <li>
                              Participated in the club's programming contest and
                              encouraged fellow members to join, fostering
                              simultaneously supportive yet competetive
                              environment.
                            </li>
                            <li>
                              Attended informative meetings and engaging
                              workshops on various technologies like React,
                              gaining valuable insights into the ever-evolving
                              tech industry and enhancing technical skills.
                            </li>
                          </ul>
                        </p>
                      </div>
                    </div>
                    <!-- Button that links to group website -->
                    <div style="text-align: center">
                      <button class="card__button">
                        <a
                          class="learn__more"
                          href="https://cse.cs.iastate.edu/"
                          target="_blank"
                          rel="noopener noreferrer">Learn More</a
                        >
                      </button>
                    </div>
                  </div>
                </li>
              </div>
            </li>
          </Grid>
          <Hero title="Competitions" align="start" />
          <Grid variant="offset">
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://source.colostate.edu/wp-content/uploads/2017/04/Frank-Smith.jpg"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Rocky Mountain Investment Challenge
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      3rd Place
                    </p>
                    <p class="card__description">
                      I participated in the Rocky Mountain Investment Challenge,
                      an exciting competition where undergraduate students
                      present investment pitches to industry judges. Our team
                      selected Fulgent Genetics and conducted comprehensive
                      research and valuation using various methods, such as DCF
                      analysis, comparable company analysis and precedent
                      transaction analysis. We achieved 3rd place and gained
                      valuable experience in analyzing real-world firms, honing
                      our presentation skills, and connecting with professionals
                      in the financial industry. It was a rewarding opportunity
                      to apply our investment expertise and learn from esteemed
                      judges.
                    </p>
                  </div>
                </div>
                <!-- Button that links to group website -->
                <div style="text-align: center">
                  <button class="card__button">
                    <a
                      class="learn__more"
                      href="https://biz.colostate.edu/events/2023/april/rocky-mountain-investment-challenge-2023"
                      target="_blank"
                      rel="noopener noreferrer">Learn More</a
                    >
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="/assets/projects/non-software/prosperity.jpg"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    IMC Trading Prosperity Competition
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      Participant
                    </p>
                    <p class="card__description">
                      I had the opportunity to participate in "Prosperity," IMC
                      Trading's global trading competition. Over the course of
                      10 days, teams were tasked with leveraging their python
                      skills, strategic insights, and analytics to trade on a
                      virtual market and strive for prosperity for their
                      assigned island. It was an excellent platform for honing
                      my quantitative trading and analysis abilities, and
                      allowed me to put my skills to the test in a dynamic and
                      competitive environment.
                    </p>
                  </div>
                </div>
                <!-- Button that links to group website -->
                <div style="text-align: center">
                  <button class="card__button">
                    <a
                      class="learn__more"
                      href="https://www.google.com/search?q=imc+trading+prosperity&sxsrf=AB5stBhcz0cCtZ4dnj5aexzE6vjidMJJwQ%3A1689362381179&source=hp&ei=zZ-xZKKlCIOlptQPjoqg0Ak&iflsig=AD69kcEAAAAAZLGt3cJXpkc7JB9sHJ2Y4G2Dj-o3WW5z&oq=imc+&gs_lp=Egdnd3Mtd2l6IgRpbWMgKgIIADIHECMYigUYJzIHECMYigUYJzIEECMYJzINEC4YigUYxwEY0QMYQzITEC4YigUYsQMYgwEYxwEY0QMYQzIHEAAYigUYQzIHEAAYigUYQzIHEAAYigUYQzIHEAAYigUYQzIREC4YgwEYrwEYxwEYsQMYgARIjA5QigJY5AVwAXgAkAEAmAFvoAGKA6oBAzIuMrgBAcgBAPgBAagCCsICBxAjGOoCGCfCAgoQLhiKBRjUAhhDwgIKEC4Y1AIYigUYQ8ICBxAuGIoFGEPCAgsQABiABBixAxiDAcICDhAuGIoFGMcBGNEDGJECwgIIEAAYigUYkQLCAhAQLhiKBRixAxjHARivARhDwgIKEAAYigUYsQMYQ8ICExAuGIMBGMcBGLEDGNEDGIoFGEPCAgoQABiABBgUGIcCwgINEC4YigUYxwEYrwEYQw&sclient=gws-wiz"
                      target="_blank"
                      rel="noopener noreferrer">Learn More</a
                    >
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://higherlogicdownload.s3.amazonaws.com/CFAI/e2a1529c-2ed1-405a-8785-3ebb089a06e1/UploadedImages/Team_2.jpg"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    CFA Research Challenge (Iowa)
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      1st Place
                    </p>
                    <p class="card__description">
                      My team achieved first place in the 2023 CFA Institute
                      Research Challenge for the state of Iowa. The Research
                      Challenge is an esteemed competition that brings together
                      university students and investment professionals from the
                      CFA Society network. It offers valuable hands-on
                      mentoring, intensive training in financial analysis and
                      ethics, and evaluates participants' analytical, valuation,
                      report writing, and presentation skills. With guidance
                      from our society members, faculty advisor, and industry
                      mentor, we conducted thorough research and analysis,
                      including public comparables and a discounted cash flow
                      (DCF) with sensitivity testing, to value the assigned
                      company (Sun Country Airlines, $SNCY).
                    </p>
                  </div>
                </div>
                <!-- Button that links to group website -->
                <div style="text-align: center">
                  <button class="card__button">
                    <a
                      class="learn__more"
                      href="https://cfasociety.org/iowa/society-events/research-challenge"
                      target="_blank"
                      rel="noopener noreferrer">Learn More</a
                    >
                  </button>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://logos-world.net/wp-content/uploads/2022/01/Iowa-State-University-Symbol.png"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Iowa State University Hackathon
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      2nd Place
                    </p>
                    <p class="card__description">
                      My team achieved second place in the Iowa State University
                      Hackathon. Our project, "dungeon_ai," aimed to enhance
                      accessibility to Dungeons & Dragons-style games by
                      eliminating the need for an experienced Dungeon Master.
                      Through collaborative teamwork, we developed a full-stack
                      web application that allowed users to create characters,
                      allocate skill points, and embark on exciting adventures
                      filled with treasure, monsters, and exploration. The
                      project utilized AI technologies for generating the
                      virtual Dungeon Master, storyline, and images for
                      environments and player characters. This fast-paced
                      development experience not only showcased our technical
                      skills but also fostered personal growth and teamwork.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://logos-world.net/wp-content/uploads/2022/01/Iowa-State-University-Symbol.png"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Iowa State University CSE Club Programmning Contest
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      3rd Place
                    </p>
                    <p class="card__description">
                      My team achieved third place in the Iowa State University
                      CSE Club Programming Contest. The contest revolved around
                      solving programming puzzles on Kattis within a three-hour
                      time constraint. It tested our problem-solving abilities,
                      algorithmic thinking, and coding skills under pressure.
                      Despite the challenging environment, our team demonstrated
                      resilience and teamwork to secure the third-place
                      position.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="card">
                <div class="card__image">
                  <img
                    src="https://content.cdntwrk.com/files/aHViPTExOTYyMCZjbWQ9aXRlbWVkaXRvcmltYWdlJmZpbGVuYW1lPWl0ZW1lZGl0b3JpbWFnZV81ZmMxNDkxNmU3YjA1LnBuZyZ2ZXJzaW9uPTAwMDAmc2lnPTBmZTM4MGIxMGVjNTEwNzNmOGU5ZTE4YTVmNWQyNDI2"
                    alt="Other Project 2"
                  />
                </div>
                <div class="card__content">
                  <h3
                    class="card__title"
                    style="margin-top: 2rem; margin-bottom: 1rem;"
                  >
                    Capital One SWE Summit Hackathon
                  </h3>
                  <div class="card__tags">
                    <p
                      class="job-detail"
                      style="font-weight: bold; margin-bottom: 1rem;"
                    >
                      2nd Place
                    </p>
                    <p class="card__description">
                      During the hackathon, I worked with my team to develop a
                      social media bot focused on financial education.
                      Leveraging the Discord API, Python, Firebase, NLTK, and
                      the QuickChart API, we created a dynamic platform that
                      provided users with valuable information about finance.
                      The experience of the hackathon allowed us to explore and
                      learn new technologies within a limited time frame,
                      showcasing our adaptability and quick learning abilities.
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </Grid>
          <ContactCTA />

          <style>
            /* Logo styling for each company in a card */
            .logo {
              width: 25%;
              height: 100%;
              object-fit: contain;
              border-radius: 0.25rem;
            }

            .job-detail {
              margin-bottom: 1rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
            }

            /* Keep same logo height but stretch the image slightly horizontally. It should occupy the same space overall, but the image should be stretched. */
            .logo--stretch {
              width: 20rem;
              height: 5rem;
              object-fit: stretch;
            }

            .line {
              width: 100%;
              height: 1px;
              background-color: var(--color-gray-300);
            }

            /* Style for card__tag that makes it like a post tag or button type shape */
            .card__tag {
              display: inline-block;
              border-radius: 0.25rem;
              background-color: var(--color-primary);
              color: var(--color-white);
              font-size: 0.75rem;
              font-weight: 600;
              text-transform: uppercase;
            }

            /* Style for card, card__image, and card__content */
            /* .card {
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          overflow: hidden;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        } */

            /* card but with padding for formatting */
            .card {
              display: flex;
              flex-direction: column;
              border-radius: 0.5rem;
              overflow: hidden;
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
              padding: 1rem;
            }

            .card__image {
              position: relative;
              padding-top: 56.25%;
              overflow: hidden;
              border-radius: 0.5rem;
            }

            .card__image img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .card__button {
              display: inline-block;
              margin-top: 1rem;
              padding: 0.5rem 1rem;
              border-radius: 0.25rem;
              background-color: var(--color-primary);
              color: var(--color-white);
              font-size: 0.75rem;
              font-weight: 600;
              text-decoration: none;
            }

            .card__title {
              margin-top: 1rem;
              margin-bottom: 2rem;
            }

            .learn__more {
              color: var(--color-primary);
              text-decoration: none;
            }
          </style>
        </div>
      </div>
    </main>
  </div>
</BaseLayout>
